<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <property name="M_SCALE" value="0.001"/>

    <xacro:macro name="gripper_camera_fixed" params="parent name *origin">
        <joint name="${name}_joint" type="fixed">
          <insert_block name="origin" />
          <parent link="${parent}"/>
          <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
          <inertial>
            <mass value="0.00001" />
            <origin xyz="0 0 0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
              iyy="1.0" iyz="0.0"
              izz="1.0" />
          </inertial>

          <visual>
            <origin xyz=" 0 0 0 " rpy="0 ${M_PI} ${-M_PI/2}" />
            <geometry>
              <mesh filename="package://slaw_bringup/description/complete_gripper.dae" />
            </geometry>
          </visual>

          <collision>
            <origin xyz="0 0 0" rpy="0 ${M_PI} ${-M_PI/2}" />
            <geometry>
              <mesh filename="package://slaw_bringup/description/complete_gripper.stl" scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
            </geometry>
          </collision>
        </link>

    </xacro:macro>

</robot>