<?xml version="1.0"?>
<launch>
<!-- define argument, use example: roslaunch .... bringup.launch sim:=true -->
	<arg name="sim" default="false"/>

	<arg name="mapping" default="false"/>
	<arg name="navigation" default="true"/>
	<arg name="teleop" default="true"/>

	<arg name="simpleIK" default="false"/>
	<arg name="laser" default="true"/>
	<arg name="diagnostics" default="true"/>	

	<arg name="youbot" default="false"/>

	<!-- visual = start rviz -->
	<arg name="visual" default="false"/>
	<arg name="rvizconfig" default="$(find youbot_bringup)/rviz/urdf.rviz" />

<group if="$(arg youbot)">

<!-- load the robot description file -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot.urdf.xacro" />

<!-- startup the youbot_driver_ros_interface, only when NOT in simulation -->
<group unless="$(arg sim)">
	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" />
</group>
<group if="$(arg sim)">
	<include file="$(find youbot_bringup)/launch/simulation.launch" />
</group>

<!-- youbot diagnostics (battery monitor) -->
<group if="$(arg diagnostics)">
	<node pkg="youbot_battery_monitor" type="youbot_battery_monitor" name="youbot_battery_monitor" respawn="false" output="" launch-prefix="" 
    args="/dev/youbot/lcd_display eth1 wlan0" />
</group>

<!-- startup the simple IK -->
<group if="$(arg simpleIK)">
	<include file="$(find youbot_bringup)/launch/simpleIK.launch" />
</group>

<!-- laser scanners -->
<group if="$(arg laser)">
	<include file="$(find youbot_bringup)/launch/lasers.launch" />
</group>

<!-- mapping slam -->
<group if="$(arg mapping)">
	<include file="$(find youbot_bringup)/launch/mapping.launch" />
</group>

<!-- navigation -->
<group unless="$(arg mapping)">
<group if="$(arg navigation)">
	<!-- start amcl localisation etc. -->
	<include file="$(find youbot_bringup)/launch/navigation.launch" />
</group>
</group> <!--unless mapping -->

</group> <!-- youbot -->

<group if="$(arg teleop)">
	<include file="$(find youbot_bringup)/launch/teleop.launch" />
</group>

<!-- rviz visualisation -->
<group if="$(arg visual)">
	<node pkg='rviz' type='rviz' respawn='false' name='rviz' args="-d $(arg rvizconfig)" output='screen' />
</group>

</launch>
