<launch>
	<!-- load the robot description file -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot.urdf.xacro" />

  <node name="hokuyo_front" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <remap from="/scan" to="/scan_front"/>

    <!-- Starts up faster, but timestamps will be inaccurate. -->
    <param name="calibrate_time" type="bool" value="false"/>

    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyACM2"/>

    <param name="frame_id" type="string" value="hokuyo_front_link"/>

    <param name="min_ang" type="double" value="-2.35"/>
    <param name="max_ang" type="double" value="2.35"/>

    <param name="intensity" type="bool" value="false"/>
  </node>

  <node name="hokuyo_back" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <remap from="/scan" to="/scan_back"/>
    <!-- Starts up faster, but timestamps will be inaccurate. -->
    <param name="calibrate_time" type="bool" value="false"/>

    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyACM1"/>

    <param name="frame_id" type="string" value="hokuyo_back_link"/>

    <param name="min_ang" type="double" value="-2.35"/>
    <param name="max_ang" type="double" value="2.35"/>

    <param name="intensity" type="bool" value="false"/>
  </node>

<!-- front laser -->
<node pkg="tf" type="static_transform_publisher" name="hokuyo_front_broadcaster" args="0.25 -0.15 0.06 2.35619449019234 3.14 0 base_link hokuyo_front_link 100" />

<!-- back laser -->
<node pkg="tf" type="static_transform_publisher" name="hokuyo_back_broadcaster" args="-0.25 0.15 0.06 -0.785398163397448 3.14 0 base_link hokuyo_back_link 100" />

<!-- rviz visualisation -->
<arg name="rvizconfig" default="$(find youbot_bringup)/rviz/urdf.rviz" />
	<node pkg='rviz' type='rviz' respawn='true' name='rviz' args="-d $(arg rvizconfig)"/>
</launch>

