<?xml version="1.0"?>
<launch>
	<!-- teleop arg -->
	<arg name="keyboard" default="true"/>
	<arg name="joystick" default="false"/>
	<arg name="ps3" default="false"/>
	<arg name="arm_teleop" default="false"/>

<!-- teleop -->

	<group if="$(arg keyboard)">
  		<node pkg="youbot_driver_ros_interface" type="youbot_keyboard_teleop.py" name="youbot_keyboard_teleop" output="screen" launch-prefix="xterm -e"  />		
	</group>
	<group if="$(arg ps3)">
  		<node pkg="" type="" name="youbot_ps3_teleop" />		
	</group>
	<group if="$(arg arm_teleop)">
  		<node pkg="youbot_driver_ros_interface" type="youbot_arm_test" name="youbot_arm_test" output="screen" launch-prefix="xterm -e"  />		
	</group>

<group if="$(arg joystick)">
	<!-- Address of the joystick -->
	<arg name="joy_dev" default="/dev/input/js0" />

	<!-- 	Joystick node	http://wiki.ros.org/joy 	-->
  	<node pkg="joy" type="joy_node" name="youbot_joy_node">
 	   	<param name="dev" value="$(arg joy_dev)" />
 	   	<param name="deadzone" value="0.3" />
 	   	<param name="autorepeat_rate" value="20" />
 	</node>

  	<!-- 	teleop_twist_joy for converting 
  			joystick states to velocity commands:
  			http://wiki.ros.org/teleop_twist_joy 	-->
  	<node pkg="teleop_twist_joy" name="youbot_teleop_twist_joy" type="teleop_node">
		 <rosparam command="load" file="$(find youbot_bringup)/config/logitech_holonomic.config.yaml" />
	
	</node>




</group>
</launch>
