<?xml version="1.0"?>
<launch>
    <include file="$(find slaw_youbot_arm_navigation_utils)/launch/joint_trajectory_action.launch" />
    <node pkg='slaw_youbot_arm_navigation_utils' type='youbot_arm_server.py' name='youbot_arm_server' output="screen" />

    <rosparam file="$(find slaw_youbot_arm_navigation_utils)/config/joints_configuration.yaml" command="load" />

    <node pkg='slaw_youbot_arm_navigation_utils' type='youbot_simple_ik_server.py' name='ik_service' output='screen' />

</launch>
